[Unit]
Description=Run FWRouter v2 subscription refresh every 4 hours

[Timer]
OnCalendar=*-*-* 03,07,11,15,19,23:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=fwrouter-subscription-refresh.service

[Install]
WantedBy=timers.target
