{
  "log": {
    "access": "/dev/stdout",
    "error": "/dev/stderr",
    "loglevel": "warning"
  },
  "inbounds": [],
  "outbounds": [
    {
      "tag": "out-vpn",
      "protocol": "socks",
      "settings": {
        "servers": [
          {
            "address": "127.0.0.1",
            "port": 7895
          }
        ]
      }
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": []
  }
}
